@model IEnumerable<CustomerDocuments.Models.UserTransaction>

@{
    ViewData["Title"] = "Index";
    Layout = "~/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>User ID</th>
            <th>Document ID</th>
            <th>Transaction Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.DocumentId</td>
                <td>@item.TransactionDate</td>
                <td>
                    @* <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.UserTransactionId">Edit</a> *@
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.UserTransactionId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@* <a class="btn btn-success" asp-action="Create">Create New</a> *@